@section scripts
{
    <script src="@Url.Content("https://maps.googleapis.com/maps/api/js")"></script>
    <script src="@Url.Content("Scripts/mygooglemap.js")"></script>
}
<div class="jumbotron">
    <div id="map"></div>
    <a href="/Truck">Trucks</a>
</div>
